html{
  min-width: 1000px;
  min-height: 562.5px;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Droid Sans Mono', monospace;
  }

#ChampRecherche{
  background-color: red;
  text-align: center;
  width : 80%;
  height: inherit;
  float : left;
  overflow: hidden;
}

#vip {
  background-image: url("../img/soleil.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  height: inherit;
  overflow : hidden;
}

#nom{
  text-align: center;
  height: inherit;
  width:60%;
  float:left;
  line-height: 2.5vh;
}

#image {
  text-align: center  ;
  height: inherit;
  overflow: hidden;
  line-height: 2.5vh;
}

#image h3 {
    margin-top:0;
    margin-bottom:0;
    line-height:5vh;
}

#wrapper {
  background-color: black;
  width : inherit;
  height: 20vh;
  overflow : hidden;
}

#wrapper2 {
  background-color : orange;
  height: 80vh;
  overflow: hidden;
}

#map {
  background-color : brown;
  width: 80%;
  height: inherit;
  float: left;
  text-align: center;
}

#results {
  background-color: grey;
  text-align: center;
  height: inherit;
  overflow: hidden;
}

#title {
  background-color: lightgrey;
  width : 20%;
  height: inherit;
  text-align: center;
  float : left;
}

#searchWrapper {
  background-color: white;
  text-align: left;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
}

#inputWrapper{
  text-align: center;
  background-image: url("../img/plage.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  float : left;
  height: inherit;
  width:80%;
  vertical-align: middle;
  line-height: 4vh;
}

#bouton {
  float: right;
  height: inherit;
  width: 20%;
  overflow: hidden;
}

#go{
  visibility: hidden;
}

#labelGo{
  width:100%;
  height:20vh;
  padding:0;
  background-image: url("../img/Pokeball.svg");
  background-size: 100%;
  text-align: center;
  display:inline-block;
  vertical-align: middle;
}

#labelGo:hover {
  opacity: 0.75;
}

#opt{
  border-top: 0.5vh solid black;
  background-color: #344952;
  height: 6vh;
  width: inherit;
}

#advOpt {
  height: inherit;
  float: left;
  width: 50%;
  margin: 0;
  text-align: left;
  line-height: 6vh;
}

#advOpt input {
  margin-right: 0;
}

#advBouton {
  height: inherit;
  width: 50%;
  overflow: hidden;
  background-color: orange;
}

#advBouton:hover {
  opacity: 0.75;
}

#advCircle{
  visibility: hidden;
}

#labelAdvBouton{
  width:100%;
  height:6vh;
  padding:0;
  text-align: center;
}

#labelAdvBouton h3 {
  margin-top:0;
  margin-bottom: 0;
  width: inherit;
  line-height: 3vh;
}

#dist {
  height: 5.3vh;
  width: 100%;
  bottom: 0;
  background-color: #344952;
  padding: 0;
}

#dist h3 {
  float:left;
  width:30%;
  text-align: center;
  margin-top:0;
  margin-bottom: 0;
  line-height: 5.3vh;
}

#dist input {
  margin-left: 0;
  overflow: hidden;
  width: 65%;
  text-align: center;
  height: 5.3vh;
}

#labelGo h1{
  margin-top: 8.25vh;
  color: black;
}

#res ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

#res ul li {
  width : 100%;
  display: inline-block;
  margin-bottom: 2vh;
}

#results h2 {
  line-height: 4vh;
}

.souligner {
  text-decoration: underline;
}

nav {
  height: 60vh;
  border-top: 0.25vh solid black;
}

nav ul {
  height: inherit;
  overflow: hidden;
  overflow-y: scroll;
}

form {
  height: inherit;
}

h1 {
  color : blue;
  font-size: 3.5vh;
}

h2 {
  font-size: 2.5vh;
}

h3 {
  font-size: 2vh;
}
